page-home {

}

.rangeL {
  font-size: 30px;
  margin-right: 20px;
  float: left;
  text-align: center;
  width: 40px;
}

#r {
  font-size: 30px;
  margin-right: 20px;
  color: #ff0000;
}

#g {
  font-size: 30px;
  margin-right: 20px;
  color: #00ff00;
}

#b {
  font-size: 30px;
  margin-right: 20px;
  color: #0000ff;
}
