page-home {

}

.rangeL {
  font-size: 30px;
  margin-right: 20px;
  float: left;
  text-align: center;
  width: 40px;
}

.btndir {
  margin: 3vw;
  height: 10vw;
  font-size: 30px;
}

.modulos {
  font-family: "Century Gothic";
  text-align: center;
  border-bottom: 1px solid black;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
	margin-bottom: 5px;
	margin-top: 5px;
  font-size: 20px;
}
